ul#hmenu {
	width: 100%;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #60a411;
    	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    	font-size: 62.5%;
}


ul#hmenu li {
	float: left;
}
ul#hmenu li a {
    display: inline-block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.4em;
}
ul#hmenu li a:hover {
    background-color: #487b0d;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

footer {
    font-size: 11px;
    color: #465336;
    border-top: 3px solid #abc094;
    background-color: #c0d8a6;
    padding: 5px;
    text-align: center;
    height: 60px;
}