/* Created by Dickens Onyango */

body{
    background-color:#ccc;
        }
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}
button.accordion:after { /* Unicode character for "plus" sign (+) is '\02795' 
*/
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after { /* Unicode character for "minus" sign (-) is 
'\2796' */
    content: "\2796";
}
div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}
div.panel.show {
    opacity: 1;
    max-height: 500px;
}
#buttons {
     margin-top: 18px;
     overflow: hidden;
 } 
#buttons :first-child {
    float: right;
    } 
#buttons :nth-child(2) {
    margin-right: 15px;
    float: right;
    padding: 10px 25px;
    } 
button {
    background: rgba(10, 190, 81, 1);
    padding: 10px 25px;
    border: none;
    margin-bottom:10px;
}
